<div class="row">	

    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <head>
            <h2>How to Handle a Breakup</h2>
     		<h3>by eHow on 13 September 2014</h3>

        <div class="well well-lg">
            <%= image_tag("blog2.jpg")%>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>


<div class="row">   

    <div class="col-xs-3"></div>
    <div class="col-xs-6">
			<p> "Whether you're the one doing the dumping or the one getting dumped, breaking up is always hard to do. Although you might feel as if you'll never get over this, you will." </p>

			<p>1. Call all of your friends - even the ones you may have ignored during your recent relationship - and make plans immediately. Now is not a good time to be alone.</p>

			<p>2. Vent when the need arises. Good friends will let you take out the photo album (again) and cry (again) and rant (again) - and they'll still love you.</p>

			<p>3. Allow yourself time to grieve. If you don't let yourself wallow in self-pity for a while and mourn the good times lost, your heart may harden to future relationships and love.</p>

			<p>4. Realize that this sadness will pass.</p>

			<p>5. Distract yourself with fun once you're tired of mourning. Movies, group sports, classes or a favorite CD can help get your mind off your loss.</p>

			<p>6. Indulge yourself when you're feeling lonely. Try a massage, a weekend trip away with a best friend, a great new outfit - whatever helps you feel good about yourself.</p>

			<p>7. Begin dating again when you're ready. Have friends set you up, and go to all those parties you might otherwise skip.</p>


			<p>8. Analyze what went wrong in the relationship only after you have rebuilt your self-esteem. If you attempt to do this too soon, you're headed for another downward spiral.</p>


			<p>9. Remember the good aspects of the relationship (there must have been some), and then get excited about the new direction your life is suddenly taking. Change can be awesome!</p>

    </div>
    <div class="col-xs-3"></div>    
</div>
