

<div class="row">	

    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <head>
            <h2>Traveling After A Breakup</h2>
            <h3>by Serena Applebee on 13 February 2014</h3>

            <img src="http://i0.wp.com/www.worldofwanderlust.com/wp-content/uploads/2012/11/45778_4840855252616_766789717_n.jpg?w=1000">

            <p>  After my first serious relationship I spent the following months doing your typical break-up routine. I went out more often in the first two weeks than I had in the previous year, I drank more than my body would have appreciated, and I began to take a fairly carefree approach to life. After a couple of months in this routine (if you could call it that), I began to realise I was losing sight of myself – who I was, who I wanted to be, and what I should be doing to get to that point. So out of nowhere on a Sunday evening I booked a flight to Paris. </p>

            <p>  The following months were consumed by packing and preparing for the trip and I soon forgot – or more accurately neglected – how lost and confused I was feeling after I had just lost my best friend and first serious boyfriend. Rebound.Me had made my stay in Paris both an enjoyable and eye-opening experience – had I not clicked on their package on that unforsaken Sunday evening, I would probably still be watching “Sex in the City” with a bottle on whisky on my bed. I was lost and hurt – I needed to rediscover myself and through traveling I realised how easy, simple, and completely normal it was to stand on my own two feet. I moved on. </p>

            </head>
        
    </div>
    <div class="col-xs-3"></div>
    
</div>

<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <div class="well well-lg">
            <%= image_tag("blog1.jpg")%>
        </div>
        

    </div>
    <div class="col-xs-3"></div>
</div>


<div class="form-group">
    <label class="control-label" for="inputDefault">Default input</label>
    <input type="text" class="form-control date" id="inputDefault">
</div>


