<br>
<br>
<br>
   
<div class="row">
    <div class="col-xs-4">
      <div class="well">
        <h3><strong>Giving back to the Community</strong></h3>
        <h5><small>by Serena Applebee on 13 February 2014</small></h5>
         <p>  I grew up poor with a single mom as my family's only provider. Life was difficult, but Mom had made everything seem better. She was resourceful and independent - an entrepeneur in every sense. So when she started her own business, I was certain that she would succeed. Of course that wasn't case. The business barely stayed afloat for the first few years. She was going to declare bankruptcy until a member of Women Entrepeneurs Society invested in the business. We had more money to improve our products and pump up advertising. After a few months, we started generating a profit and after 3 years, we we'd managed to expand the business to a few other branches. I will forever be thankful to that woman. </p>

        <p>  Through Rebound.Me, I was able to connect with women who were in the same situation I had been. Being an entrepeneur is tough, more so when you're struggling to raise kids at the same time. I'm very blessed to have achieved the success of my business - and I want to empower other women so that they may find the same path. </p>

            <div class="text-center">
            <div class="sample2">
              <button class="btn btn-primary btn-raised"><strong>Learn about Giving Back</strong></button>
            </div>
        </div>
        <br>
            <%= image_tag("give_com.jpg", :class=>"img-responsive")%>
  
      </div>
    </div>
    
    <div class="col-xs-4">
      <div class="well">
        <%= image_tag("blog1.jpg", :class=>"img-responsive")%>
        <h3><strong>Journey of Re-Discovery</strong></h3>
        <h5><small>by Serena Applebee on 13 February 2014</small></h5>
        <p>  After my first divorce, I spent the following months in a zombie-like daze. I went out more often in the first two weeks than I had in the previous year, I drank more than my body would have appreciated, and I began to take a pessimistic approach to life. After a couple of months in this routine (if you could call it that), I began to realise I was losing sight of myself – who I was, who I wanted to be, and what I should be doing to get out of that point. I came across Rebound.Me and out of decided to purchase a trip to Paris. . </p>

            <p>  The following months were consumed by packing and preparing for the trip and I soon forgot – or more accurately neglected – how lost and confused I was feeling after the divorce. Rebound.Me had made my stay in Paris both an enjoyable and eye-opening experience – had I not found their website on that unforsaken Sunday evening, I would probably still be watching “Sex in the City” with a bottle on whisky on my bed. I was lost and hurt – I needed to rediscover myself and through traveling I realised how easy, simple, and completely normal it was to stand on my own two feet. I moved on. </p>
  
        <div class="text-center">
            <div class="sample2">
              <button class="btn btn-primary btn-raised"><strong>Learn about Travel Options</strong></button>
            </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="well">
        <%= image_tag("gift_ss_img.jpg", :class=>"img-responsive")%>
        <h3><strong>An Unexpected Gift</strong></h3>
        <h5><small>by Serena Applebee on 13 February 2014</small></h5>
         <p>  A break up is like a part of you had died. An expectation of what could have been, sudden loss of a best friend or even worst, losing yourself.  I lived a month of me in Zombieland completely numb and when I'm unnumb, I'm bawling my eyes out and I get back to that numbness. I think grieving is necessary in order for our body to fully adjust and accept what had happened. Throughout this period and up till today, I continuously subscribe to the ReboundMe Box because it's like I have  a pal who knows just what I need to hear, what I need to eat and best of all, the shot of vodka just when I need it! </p>
        
        <div class="text-center">
            <div class="sample2">
                <br>
              <button class="btn btn-primary btn-raised"><strong>Learn about Rebound.Me Box</strong></button>
            </div>
            </div>
      </div>
    </div>
</div>
